NODE_ENV=development
PORT=3000
API_PREFIX=v1

DATABASE_URL_MASTER=postgresql://postgres:postgres@localhost:5432/matchlens
DATABASE_URL_REPLICA=postgresql://postgres:postgres@localhost:5432/matchlens

AWS_REGION=ap-southeast-1

JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_KEYPAIR_SECRET_NAME=matchlens/dev/backend/jwt-keypair

LOG_LEVEL=debug
THROTTLE_TTL=60
THROTTLE_LIMIT=30